@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar{
    display: flex;
    flex-direction: column;
}

.messages{
    margin-top: 50px;
    font-size: 40px;
}

.gameSpace{
    display: grid;
    grid-area: gamespace;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    margin-top: 50px;
}

.square{
    width: 100px;
    height: 100px;
    padding-right: 20px;
    background-color: rgb(85, 85, 85);
    border-style: solid;
    border-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 90px;
    color: aliceblue;
}
.square:hover{
    background-color: rgb(105, 105, 105);
}

#endGame{
    display: flex;
    flex-direction: column;
}